
@{
    ViewBag.Title = "_Layout";
}

<h2>_Layout</h2>

<div class="container body-content">

    @RenderSection("name1", required: false)
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Huruba Bianca-Maria</p>
    </footer>
</div>